footer {
	padding: 40px 0;
	font-family: GothamProMedium;
	.left-align {
		text-align: left;
		padding: 10px 0;
		float: left;
		width: 50%;
		color: #4d3b2b;
		font-size: 21px;
	}

	.right-align {
		text-align: right;
		float: right;
		width: 50%;		
	}	
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			div {
			    height: 30px;
				width: 33px;
				background-image: url(../img/social-sprite.png);
				margin-left: 30px;
				&.vk {
					background-position: 0 0;
				}
				&.instagram {
					background-position: 151px 0;
				}
				&.faceb00k {
					background-position: 90px 0;
				}
				&.youtube {
					background-position: 33px 0;
				}													
			}
		}
	}
	.footer-menu {
		margin-top: 20px;
		ul {
			padding: 0;
			margin: 0;
			position: relative;
			li {
				display: block;
				width: 20%;
				padding: 5px 0;
				padding-right: 10px;
				a {
					font-size: 15px;
					color: #4d3b2b;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px){}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 560px) {}