main.homepage {
	.wrapper {
		padding: 0 50px;
		width: 1300px;
		position: relative;
		z-index: 2;
	}	
	section.mainscreen {
		background-image: url(../img/main-background.jpg);
		height: 810px;
		width: 100%;
		background-size: cover;
		background-position: center center; 
		position: relative;
		h1 {
			font-size: 35px;
			color: #4d3b2b;
			font-family: 'comfortaa-light';
			line-height: 1.4;
			padding: 0;
			width: 90%;
		}
		.left {
			padding: 30px 0;
		}
		.right {
			padding: 40px 0;
			.title {
				color: #4d3b2b;
				font-size: 50px;
				font-family: 'comfortaa-light';
				margin-bottom: 20px;
			}
			.content {
				font-family: "GothamProRegular";
				font-size: 13px;
				color: #000;
				line-height: 1.6;
			}
			.no-padding {
				padding: 0;
			}
			.inf-1 {
				margin-bottom: 40px;
				display: block;
			}
			.inf-2 {
				p {
					font-family: "GothamProRegular";
					font-size: 17px;
					color: #000;
					line-height: 1.5;
					display: block;
					margin-bottom: 40px;
				}
			}
			.inf-3 {
				color: #000;
				font-size: 18px;
				font-family: "GothamProRegular";
				font-style: italic;
				width: 160px;
				line-height: 1.7;
			}
		}
		.mouse {
			width: 20px;
			height: 47px;
			background-image: url(../img/mouse.png);
			position: absolute; 
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			z-index: 2;
			i {
				display: none;
			}
		}
		.mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #f7efe8;
			opacity: .7;
			z-index: 1;
			display: none;
		}
	}
	section.chairs {
		width: 1280px;
		padding: 50px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		.inf {
			margin-top: 50px;
			margin-bottom: 50px;
			display: block;
			font-size: 13px;
			color: #4d3b2b;
			font-family: GothamProRegular, sans-serif;
			line-height: 1.8;
		}
		.left {
			float: left;
			width: 50%;
			border-right: 1px solid #f8f7f3;
			position: relative;
			img {
				position: absolute;
				width: 255px;
				height: auto;
				left: 50%;
				bottom: -50px;
				transform: translateX(-100px);
				&.mobile {
					display: none;
				}
				&.desktop {
					display: block;
				}				
			}
			.back-description {
				display: none;
			}
			.left_align {
				.inf {
					text-align: left;
				}	
			}
			.right_align {
				.inf {
					padding-right: 50px;
					text-align: right;
				}	
			}			
		}
		.right {
			float: right;
			width: 50%;
			position: relative;
			img {
				position: absolute;
				width: 300px;
				height: auto;
				left: 50%;
				bottom: 0;
				transform: translateX(-100px);
				&.mobile {
					display: none;
				}
				&.desktop {
					display: block;
				}
			}
			h2.title {
				padding-left: 50px;
			}			
			.left_align {
				.inf {
					text-align: left;
					padding-left: 50px;
				}	
			}
			.right_align {
				.inf {
					text-align: right;
				}	
			}	
			.price {
				right: -50px;
			}
		}
		h2.title {
			font-size: 37px;
			color: #ff8301;
			font-family: 'comfortaa-bold';
			width: 100%;
			max-width: 175px;
		}
		.price {
			position: absolute;
			right: 0;
			top: -10px;
			background-color: #f8f7f3;
			padding: 20px 50px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
			    border: 45px solid transparent;
				border-left: 32px solid #fff;
			}
			span:first-child {
				font-size: 17px;
				display: block;
				color: #4d4036;
				font-family: "GothamProMedium";
				margin-bottom: 7px;
				text-align: right;
			}
			span:last-child {
				font-size: 27px;
				display: block;
				color: #4d4036;
				font-family: 'comfortaa-bold';
				text-align: right;
			}
		}
	}
	section.video {
		width: 100%;
		background-color: #f8f7f3; 
		position: relative;
		z-index: 1;
		margin-top: -20px;
		&:after {
			content: '';
			position: absolute;
			background-image: url(../img/shape-chairs.png); 
			width: 100%;
			height: 90px;
			background-size: cover;
			top: -90px;
			left: 0;
		}
		.video-wrapper {
			width: 1200px;
			padding: 45px 15px 20px;
			display: block;
			margin: 0 auto;
		}	
		h2 {
			font-size: 33px;
			color: #4d3b2b;
			font-family: 'GothamProRegular', sans-serif; 
			text-align: center;
			margin-bottom: 30px;
		}
		video {
			border-radius: 30px;
		}
		.video-js {
			width: 100%;
			height: 280px;
			border-radius: 23px;
			margin-bottom: 20px;
		}
		p {
			font-size: 15px;
			color: #4d3b2b;
			font-family: 'GothamProRegular', sans-serif; 
			line-height: 1.6;
			margin-bottom: 20px;
		}
	}
}