main.home {
	padding-bottom: 20px;
	section.articles {
		width: 1210px;
		display: block;
		margin: 0 auto;
		position: relative;		
		article {
			height: 248px;
			margin-bottom: 30px;
			.right {
				width: 50%;
				float: left;
				.thumbnail {
					height: 248px;
					width: 100%;
					background-size: cover;
					background-repeat: no-repeat;  
					border-radius: 25px 0 0 25px;
					position: relative;
					&::after {
					    content: '';
					    position: absolute;
					    background-image: url(../img/circle.png);
					    right: -2px;
					    top: 0;
					    width: 28px;
					    height: 100%;
					}
				}
			}
			.left {
				width: 50%;
				height: 100%;
				float: right;
				padding: 20px;
				border-radius: 0 25px 25px 0;
				background-color: #faf7f4;
				overflow: hidden;
				border-bottom: 30px solid #faf7f4;
				.date {
					color: #9d9791;
					font-size: 13px;
					font-family: GothamProMedium;
				}
				.title {
					color: #979f00;
					font-size: 17px;
					font-family: 'comfortaa-regular';
					padding: 16px 0;
					line-height: 1.3;
					display: block;
					cursor: pointer;
				}
				.excerpt {
					p {
						color: #4d3b2b;
						font-size: 13px;
						font-family: GothamProRegular;
						line-height: 1.6;
					}
				}
			}
		}
	}
}
.divider {
    width: 100%;
    height: 20px;
    background-image: url(../img/curl.png);
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}