main.text {
	padding-bottom: 40px;
	h1 {
		padding: 7px 0 50px;
		line-height: 1.3;
	}
	.mobile-img {
		display: none;
	}
	.breadcrumb {
		padding-top: 50px;
		color: #979f00;
		font-size: 16px;
		font-family: 'GothamProRegular', sans-serif; 
		li {
			display: inline-block;
			position: relative;
			margin-right: 20px;
			a {
				color: #979f00;
				font-size: 16px;
				font-family: 'GothamProRegular', sans-serif; 
				text-decoration: none;
				transition: .3s;
				&:hover {
					color: $hoverColor;
					transition: .3s;
				}
			}
			&:after {
				content: '→';
				position: absolute;
				right: -15px;
				top: 0;
				width: 11px;
				height: 10px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	.left {
		padding-left: 0;
		color: #4d3b2b;
		.img-responsive {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 23px;
			margin-bottom: 30px;
		}
		p {
			font-size: 15px;
			font-family: 'GothamProRegular', sans-serif; 
			line-height: 1.5;
		}
		h2 {
			font-size: 26px;
			line-height: 1.5;
			font-family: 'comfortaa-bold';
			margin-bottom: 17px;
		}
		ul {
			margin: 20px 0;
			li {
				font-size: 15px;
				font-family: 'GothamProRegular', sans-serif; 
				line-height: 2.2;	
				padding-left: 22px;
				position: relative;
				&:before {
					content: '';
					height: 10px;
					width: 10px;
					border-radius: 100%;
					background-color: #f07d28;
					position: absolute;
					left: 0;
					top: 11px;
				}			
			}
		}
		span {
			 font-family: 'GothamProBold', sans-serif;
			 font-size: 15px;
			 margin-top: 20px;
			 display: block;
		}
	}
	.right {
		padding-right: 0;
		h2 {
			font-size: 26px;
			color: #4d3b2b;
			font-family: 'comfortaa-bold';
			margin-bottom: 40px;
		}
		.article {
		    height: auto;
    		margin-bottom: 20px;
			.left {
			    border-radius: 0 0 25px 25px;
			    height: auto;
			    background-color: #faf7f4;
			    padding: 20px;
			    .date {
					color: #9d9791;
					font-size: 13px;
					font-family: GothamProMedium;
			    }
			    .title {
					color: #979f00;
					font-size: 17px;
					font-family: 'comfortaa-regular';
					padding: 16px 0;
					line-height: 1.3;
					display: block;
					cursor: pointer;			    	
			    }
			    .excerpt {
			    	p {
					    color: #4d3b2b;
					    font-size: 13px;
					    font-family: GothamProRegular;
					    line-height: 1.6;			    		
			    	}
			    }
			}    		
		}
		.thumbnail {
			border-radius: 25px 25px 0 0;
		    height: 248px;
		    width: 100%;
		    background-size: cover;
		    background-repeat: no-repeat;
		    position: relative;			
		}
	}
}