@import 'includes/_var';
@import 'includes/_fonts';
@import 'includes/reset';

//header 

header {
	position: relative;
	color: #664b33;
	font-family: 'GothamProRegular', sans-serif;
	.workSection {
		padding: 0 50px;
		width: 1278px;
		box-sizing: border-box;
		margin: 0 auto;
		position: relative;
		height: 100%;
		text-align: center;
	}	
	.headerTop {
		background-color: #f7f4f0;
		div {
			display: inline-block;
			margin: 10px 20px;
			font-size: 13px;
		}		
	}
	.headerCenter {
		position: relative;
		padding-top: 30px;
		padding-bottom: 40px;
		.logo {
		    position: absolute;
		    top: 20px;
		    left: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    width: 210px;
		    height: 54px;
		    background: url(../img/logo.png) center center/cover no-repeat;			
		}
		.telBox {
			float: left;
			text-align: left;
			.tel {
				display: inline-block;
				margin-right: 85px;
				.city {
					font-family: 'GothamProRegular', sans-serif;
					font-size: 13px;
				}
				.num {
					color: #222222;
					font-size: 17px;
				}
			}
		}
		.rightControls {
			display: inline-block;
			.callBack {
				position: absolute;
				padding-left: 22px;
				right: 250px;
				top: 0;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -12px;
					left: 0;
					width: 19px;
					height: 29px;
					background: url("../img/icons/call.png") center center / cover no-repeat;
				}
			}
			.cart {
				padding: 0 45px 0 35px;
				margin-left: 28px;
				position: absolute;
				right: 28px;
				top: 0;
				.numProductLabel {
					position: absolute;
					top: 50%;
					right: -1px;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					background: $mainOrange;
					text-align: center;
					line-height: 32px;
					color: #fff;
					margin-top: -16px;
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -8px;
						border: 8px solid transparent;
						border-right: 8px solid $mainOrange;
						left: -14px;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -15px;
					left: 0;
					width: 27px;
					height: 31px;
					background: url("../img/icons/cart.png") center center / cover no-repeat;
				}
			}
		}
		.sandwich {
			display: none;
		}
	}
	.headerMenu {
		height: 64px;
		.menu {
			width: 100%;
			height: 100%;
			border: 1px solid #f2ede6;
			border-radius: 22px 22px 0 0;
			.menuItem {
				text-transform: uppercase;
				color: $mainGreen;
				font-family: 'GothamProMedium', sans-serif;
				font-size: 15px;
				width: 19%;
				height: 100%;
				text-align: center;
				line-height: 64px;
				display: inline-block;
				border-right: 1px solid #f2ede6;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}