@import 'includes/_var';

@media screen and (max-width: 1300px){
	main.home section.categories .category .operations li:last-child {
		.compare span {
			display: none;
		}
	}	
		main.home section.categories .category .operations li:last-child i {
			display: block;
		}
	.wrapper {
	    padding: 0 30px;
	    width: 100%;
		display: block;
		position: relative;
		margin: 0 auto;
	}	
	main.home {
		.pre-footer-cat {
			width: 100%;
			.cat-1 {

			}
			.cat-2 {

			}
		}

		section {
			width: 100%;
			padding: 0 20px;
			&.articles {
			
			}
		}	
	}		
	header {
		.workSection {
			width: 100%;
		}
		.headerCenter {
			.telBox {
				.tel {
					margin-right: 25px;
				}
			}
		}
		.headerMenu {
			height: 64px;
			.menu {
				width: 100%;
				height: 100%;
				border: 1px solid #f2ede6;
				border-top-width: 2px;
				border-top-left-radius: 22px;
				border-top-right-radius: 22px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.menuItem {
					padding: 0 15px;

				}
			}
		}
	}
}

@media screen and (max-width: 1050px){		
	main.home .pre-footer-cat .cat-1 .title,
	main.home .pre-footer-cat .cat-2 .title {
		font-size: 19px;
	}
	main.home .pre-footer-cat .cat-1 .content,
	main.home .pre-footer-cat .cat-2 .content {
		font-size: 14px;
	}
	header {
		.workSection {
			padding: 0 30px;
		}
		.headerTop {
			.logIn {
				left: 225px;
				transform: translate(0, -50%);
			}
		}
		.headerCenter {
			.sandwich-wrapper {
				display: block;
			}			
			.telBox {
				display: none;
			}
			.logo {
				position: static;
				transform: translate(0);
			}
			.rightControls {
				display: flex;
				flex-direction: row;
				.callBack {
					position: relative;
					padding-left: 22px;
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -12px;
						left: 0;
						width: 19px;
						height: 29px;
						background: url("../img/icons/call.png") center center / cover no-repeat;
					}
				}
				.cart {
					padding: 0 45px 0 35px;
					margin-left: 28px;
					position: relative;
					.numProductLabel {
						position: absolute;
						top: 50%;
						right: -1px;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						background: $mainOrange;
						text-align: center;
						line-height: 32px;
						color: #fff;
						margin-top: -16px;
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							margin-top: -8px;
							border: 8px solid transparent;
							border-right: 8px solid $mainOrange;
							left: -14px;
						}
					}
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -15px;
						left: 0;
						width: 27px;
						height: 31px;
						background: url("../img/icons/cart.png") center center / cover no-repeat;
					}
				}
			}
			.sandwich {
				display: flex;
			}
		}
		.headerMenu {
			display: none;
		}
	}	
}


@media screen and (max-width: 768px) {
.mobile-menu {
	padding: 20px 3px 0 0;
	.close {
		right: 20px;
		top: 20px;
		width: 20px;
		height: 20px;
	}
	.menu-1 {
		li {
			&.logIn {
				display: block;
			}
			&.cart {
				display: block;			
			}			
			height: 40px;
			padding-left: 0px;
			a {
				font-size: 15px;
				color: #664b33;
				font-family: GothamProRegular;
			}
		}
	}
	.menu-2 {
		li {
			height: 40px;
			padding-left: 15px;
			a {
				font-size: 13px;
				color: #4d3b2b;
			}
		}
	}
}	
.mobNoPad {
	padding: 0;
}	
main.home .pre-footer-cat {
	padding: 0;
}
main.home .pre-footer-cat .cat-1,
main.home .pre-footer-cat .cat-2 {
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;
	height: auto;
}
main.home section.categories .category .operations li:last-child {
	display: none;
}	
main.home section.categories .category .operations li:nth-child(2) {
	text-align: right;
	right: 20px;
	left: auto;
}
	.wrapper {
	    padding: 0 20px;
	}		
	main.home {
		.years {
		    position: relative;
		    top: 0;
		    text-align: left;
		    width: 100%;
		    display: block;
		    padding: 0;
		    margin: 0 auto;
		    transform: translateY(0);
		    margin-bottom: 40px;
			li {
				display: inline-block;
				margin: 0 10px;
				}
		}		
		section.articles {
			width: 100%;
			padding: 0 8px;
			article {
				height: auto;
				margin-bottom: 20px;
				.right {
					width: 100%;
					float: none;
					.thumbnail {
						border-radius: 25px 25px 0 0;
						&::after {
							display: none;
						}
					}
				}
				.left {
					width: 100%;
					float: none;
					border-radius: 0 0 25px 25px;
				}
			}
		}			
	}
	header {
		.workSection {
    		padding: 0 20px;
		}
		.headerTop {
			.address{
				&:after {
					content: 'Адреса';
				}
			}
			.logIn {
				display: none;
			}
			.delivery {
			    position: absolute;
			    left: 50%;
			    right: 50%;
			    margin: auto;
			    width: 140px;
			    margin-left: -70px;
			    text-align: center;
				&:after{
					content: 'Доставка';
				}			    
			}
		}
		.headerCenter {
			.sandwich {
				padding: 0 0 0 5px;
				.menuBtn {
					&:after {
						content: '';
					}
				}				
			}
			.rightControls {
				.callBack {
					display: none;
				}
				.cart {
					&:after {
						content: '';
					}		
					.numProductLabel {
						background-color: transparent;
						color: #000;
						right: 23px;
						&:before {
							display: none;
						}
					}			
				}
			}
			.logo {
				width: 100px;
				background-size: 100%;
			}
		}
	}
	footer {
		.left-align {
			float: none;
			width: 100%;
			text-align: left;
			margin-bottom: 10px;
		}

		.right-align {
			float: none;
			width: 100%;
			text-align: left;
			margin-bottom: 10px;
			ul {
				li {
					div {
						margin-left: 0;
					}
				}
			}
		}	
	.footer-menu {
		ul {
			li {
				width: 50%;
				a {
				}
			}
		}
	}			
	}	
}

@media screen and (max-width: 480px) {
	main.home {
		.years {
			li {
				a {
					font-size: 15px;
				}
			}
		}
	}		
	footer {
	.footer-menu {
		ul {
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}			
	}	
}